:root {
    --blanco: #ffffff;
    --anaranjado: #ffbf00;
    --gris: #757575;
    --verde: #0097A7;
    --negro: #212121;
    --font-family-title: 'Kaisei Opti', 'serif';
    --font-family-text: 'Quattrocento Sans', 'sans-serif';
    --font-size-title: 3.8 rem;
}

/* Fuente*/
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-text);
    font-size: 20px;
}

.titulo {
    text-transform: uppercase;
    font-family: var(--font-family-title);
    color: var(--negro);
    text-align: center;
    font-size: 2.8rem;
}

.titulo span {
    color: var(--negro);
    font-weight: 400;
    text-transform: none;
    font-size: 2rem;
}



/* Diseño*/
header {
    background-color: var(--blanco);
    padding: 1em;
}

body {
    margin: 0;
    background: rgb(171,107,74);
    background: linear-gradient(145deg, rgba(171,107,74,1) 12%, rgba(113,106,94,1) 53%, rgba(22,69,76,1) 100%);
}

.nav-bg {
    background-color: var(--verde);
}

.navegation-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media(min-width: 760px) {
    .navegation-main {
        flex-direction: row;
    }
}

.navegation-main a {
    padding: 1rem;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.navegation-main a:hover {
    background-color: var(--anaranjado);
    color:var(--negro);
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}
















